<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>
    <title>vueTest</title>
</head>
<body>
    <div id="app">
        VM1: <input type="text" v-model="name">
    </div>
      
    <!-- vm2 -->
    <div id="app2">
        VM2: <input type="text" v-model="name">
    </div>

    <div id="app3">
        <p>Total price：{{subtotal()}}</p>
    </div>
</body>
<script>
    const dataObj = {
        name: '08JS'
    };

    const vm1 = Vue.createApp({
    data () {
        return dataObj
    },
    }).mount('#app');

    const vm2 = Vue.createApp({
    data () {
        return dataObj
    },
    }).mount('#app2');
    vm1.$data.name = '阿不就';
    
    const vm3 = Vue.createApp({
        data(){
            return{
                price:100,
                quantity:10
            }
        },
        methods:{
            subtotal:function(){
                return this.price*this.quantity;
            }
        }
    }).mount('#app3');
</script>
</html>