<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>訂餐失敗</title>
	<style>
    *{
    margin:auto;
    box-sizing: border-box;
	}
	.style1{
    width:500px;
    text-align: center;
    padding:30px
	}
	.style1 p{
	text-align: center;
	color:red;
	}
	.button{
	width:120px;
	height:40px;
	font-size:20px;
	}
	.select{
		width:120px;
		height:40px;
		font-size:20px;
	}
    </style>
</head>
<body>
	{% csrf_token %}
	<div class="style1">
		<p>查無此手機號碼</p><br>
		<button name="search" type="submit" onclick="location.href='order.html'" class="button">前往訂餐</button><br><br>
		<button name="product" type="submit" onclick="location.href='homepage.html'" class="button">回首頁</button>
	</div>
</body>
</html>