<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>菜單</title>
	<style>
    .form{
		display: inline-block;
		border: solid 1px black;
		border-radius: 5px;

		padding: 10px;
		padding-right: 20px;
		padding-left: 20px;

		margin:0 auto;

		font-family: 微軟正黑體;
		font-size: 50px;
		font-weight: 800;
		letter-spacing: 1px;
	}
	.submit{
		padding: 10px;
		padding-right: 10px;
		padding-left: 10px;

		font-family: 微軟正黑體;
		font-size: 50px;
		font-weight: 800;
		letter-spacing: 1px;
	}
	.center{
        position: relative;
        margin:auto;
	}
    </style>
</head>
<body class="center">
    {% csrf_token %}
    <form action="viewer_use.html"  method="post" class="form">
        <p>菜單：</p><br>
        <p>吐司：</p>
        {% for menu_toast in menu_toast %}
            <p>---------------------------------</p>
            <p>商品：{{ menu_toast.products}}</p>
            <p>價格：{{ menu_toast.price}}</p>
        {% endfor %}
        <p>---------------------------------</p><br>
        <p>蛋餅：</p>
        {% for menu_egg_pancake in menu_egg_pancake %}
            <p>---------------------------------</p>
            <p>商品：{{ menu_egg_pancake.products}}</p>
            <p>價格：{{ menu_egg_pancake.price}}</p>
        {% endfor %}
        <p>---------------------------------</p><br>
        <p>飲料：</p>
        {% for menu_drink in menu_drink %}
            <p>---------------------------------</p>
            <p>商品：{{ menu_drink.products}}</p>
            <p>價格：{{ menu_drink.price}}</p>
        {% endfor %}
        <p>---------------------------------</p><br>
        <input type="submit" value="回訂餐單" class="submit">
    </form>
</body>
</html>